#container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sub-container{
    width: 50%;
    height: 75%;
    border: 1px solid black;
}

#form-container{
    width: 80%;
    height: 100%;
}

#textarea{
    width: 100%;
    height: 100%;
}

html, body{
    width: 100%;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
}

#wrap{
    width: 100%;
    height: 100%;
}